// ## Colors

// ### Primary
// (intro and email sign up background)
$DarkBlue : hsl(217, 28%, 15%);
// (main background)
$DarkBlueMain : hsl(218, 28%, 13%);
// (footer background)
$DarkBlue1: hsl(216, 53%, 9%);
// (testimonials background)
$DarkBlue2 : hsl(219, 30%, 18%);

// ### Accent
// (inside call$to$action gradient)
$Cyan : hsl(176, 68%, 64%);
// (inside call$to$action gradient)
$Blue: hsl(198, 60%, 50%);
// (error)
$LightRed : hsl(0, 100%, 63%);


// ### Neutral
$White: hsl(0, 0%, 100%);